extends layout

block content
  form(id="save", name="save", action="#{saveUrl}", method="post")
    h1= title
    - for (let val of inputTextValues) {
      div(class="text-field")
        label
          input(type="text", name=val, id=val, placeholder=val)
        - val
    - }
    input(type="submit", value="Save 'em!")