extends layout

block content
  form(id="save", name="save", action="#{saveUrl}", method="post")
    h1= title
    - for (let val of inputTextValues) {
      div(class="text-field")
        input(type="text", name=val, id=val, placeholder=val)
    - }
    input(type="submit", value="Save 'em!")
  if saveResult && saveResult.success
    h3(class="info success")= `Successfully saved at ${saveResult.data}`
  if saveResult && !saveResult.success
    h3(class="info fail")= saveResult.data